:root {
  --Green: hsl(132 51% 52%);
  --Heading: hsl(0 0% 20%);
  --Disabled: hsl(205 12% 71%);
  --Background: hsl(0 0% 97%);
  --White: hsl(0 0% 100%);
  --Subheading: hsl(0 0% 38%);
  --Text: hsl(0 0% 20%);
  --Table-Head-Bg: hsl(240 9% 98%);
  --Table-Border: hsl(0 0% 93%);
  --Hover: hsl(132 51% 42%);
}

/* General Styles */
body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--Background);
}

#root {
  max-width: 80rem;
  margin-inline: auto;
  padding-inline: clamp(1rem, calc(1rem + 2vw), 2rem);
  padding-block: 3.5rem;
  min-height: 100vh;
}

main {
  display: grid;
  gap: 2rem;
}

.main-heading {
  color: var(--Heading);
  font-size: clamp(1rem, calc(1rem + 2vw), 2.5rem);
  margin-bottom: 3.5rem;
  font-weight: 900;
}

/* Form Styles */
.filter {
  background-color: var(--White);
  border-radius: 0.35rem;
  padding-block: clamp(2rem, calc(1rem + 1vw), 3rem);
  padding-inline: clamp(1rem, calc(0.75rem + 1vw), 2rem);
}

.filter__heading {
  color: var(--Subheading);
  font-size: clamp(1rem, calc(1rem + 1vw), 1.5rem);
  margin-bottom: clamp(2rem, calc(1.65rem + 2vw), 3.5rem);
}

.filter__form {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  gap: clamp(1.5rem, calc(1rem + 1vw), 3rem);
}

.filter__form-group {
  position: relative;
  color: var(--Disabled);
}

.filter__form-label {
  background-color: var(--White);
  position: absolute;
  padding-inline: 0.3rem;
  top: -0.8rem;
  left: 0.75rem;
}

.filter__form-input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid var(--Disabled);
  border-radius: 0.5rem;
  outline-color: var(--Green);
}

.filter__form-input:focus + .filter__form-label {
  color: var(--Green);
}

.filter__form-btn {
  padding: 0.75rem;
}

/* Table styles */
.container {
  background-color: var(--White);
  border-radius: 0.35rem;
  padding: 3rem 2.5rem 3rem 2rem;
  min-width: 100%;
}

@media (max-width: 700px) {
  .container {
    padding: 3rem 1rem 3rem 1rem;
  }
}

.container-inner {
  padding-right: 1rem;
  max-height: 31.25rem;
  overflow-y: scroll;
}

.table {
  border-collapse: collapse;
  width: 100%;
}

.table-head {
  background-color: var(--Table-Head-Bg);
}

.table-row {
  border-bottom: 1px solid var(--Table-Border);
  font-size: 0.875rem;
}

th,
td {
  padding: 0.75rem 1rem;
  text-transform: capitalize;
  text-wrap: nowrap;
}

th {
  text-align: left;
}
th:last-of-type {
  text-align: center;
}

/* Scrollbar styles */
.container-inner::-webkit-scrollbar {
  width: 1.5rem;
}
.container-inner::-webkit-scrollbar-thumb {
  background-color: var(--Green);
  border: 0.45rem solid var(--Table-Head-Bg);
  border-radius: 100vh;
}
.container-inner::-webkit-scrollbar-thumb:hover {
  background-color: var(--Hover);
}
.container-inner::-webkit-scrollbar-track {
  background-color: var(--Table-Head-Bg);
}

.download-btn {
  width: 100%;
}

.download-btn:disabled {
  opacity: 0.7;
}

.snackbar {
  position: fixed;
  margin-inline: auto;
  z-index: 50;
  top: 1rem;
  left: 0;
  padding: 1rem;
  background-color: #ff5555;
  color: var(--White);
  transition: transform 200ms ease;
  font-weight: 700;
}

.snackbar--hide {
  transform: translateX(-110%);
}

.snackbar--show {
  transform: translateX(1rem);
}

/* pdf styles */
.paper {
  width: 210mm;
  height: 297mm;
  margin-inline: auto;
  background-color: var(--White);
  padding: 1.5rem 1rem;
}

.paper__header {
  display: flex;
  justify-content: space-between;
}

.paper__header-content {
  text-align: center;
}

.school-name {
  font-weight: 700;
  color: #4f4f4f;
  text-transform: uppercase;
}

.address {
  font-size: 12px;
  color: #4f4f4f;
  max-width: 30ch;
}

.text-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;
}

.program-title {
  text-transform: capitalize;
  color: #333333;
}

.doc-title {
  text-transform: capitalize;
  color: #333333;
}

.paper img {
  width: 100px;
  height: 100px;
}

.student-details {
  margin-top: 4.625rem;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}

.detail {
  display: grid;
  gap: 14px;
}

.detail-text {
  display: flex;
  gap: 25px;
}

.detail-text__title {
  font-weight: 700;
}

.detail-text__content {
  font-weight: 500;
}

.table-container {
  margin-top: 40px;
}

.result-table {
  border-collapse: collapse;
  width: 100%;
}

.result-table thead {
  background-color: #0d7590;
  color: var(--White);
}

.result-table th,
.result-table td {
  padding: 0.75rem 1rem;
  text-transform: capitalize;
  text-wrap: nowrap;
}

.result-table th {
  text-align: left;
}
.result-table th:nth-of-type(4) {
  text-align: center;
}
.result-table th:nth-of-type(5) {
  text-align: center;
}
.result-table th:last-of-type {
  text-align: center;
}

.result-table td:nth-of-type(4) {
  text-align: center;
}
.result-table td:nth-of-type(5) {
  text-align: center;
}
.result-table td:last-of-type {
  text-align: center;
}

tbody tr:nth-child(odd) {
  background-color: #f2f2f2;
}

tbody tr {
  color: #4f4f4f;
}

.summary-table__container {
  margin-top: 33px;
}

.summary-table {
  border-collapse: collapse;
}
.summary-table thead {
  background-color: #0d7590;
  color: var(--White);
}

.summary-table td {
  padding-inline: 1.5rem;
}

.remark {
  margin-top: 1rem;
}

.signature {
  border-top: 1px solid #333333;
  margin-top: 7.4375rem;
  max-width: 164px;
}

.signature p {
  margin-top: 1rem;
}

.remark > p > span:last-of-type {
  color: #0d7590;
}
